#first{
    height: 880px;
    width: 100%;
    background: url("../images/pic1.jpg") no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}

.text_first_1, .text_first_2, .text_first_3{
    text-shadow: 2px 2px 1px rgba(128, 128, 128, 0.58);
    display: block;
    color: whitesmoke;
    margin: 0;
    padding-top: 10px;
}

.text_first_1{
    font-size: 50px;
}

.text_first_2{
    font-size: 80px;
    font-weight: bold;
    font-style: italic;
}

.text_first_3{
    font-size: 49px;
}