#above_second{
    background-color: rgb(229, 229, 229);
    height: 60px;
    margin-bottom: 0;
}

#second{
    background-color: rgb(229, 229, 229);
    height: 780px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 250px 50px 250px;
}

#below_second{
    height: 60px;
    background-color: rgb(229, 229, 229);
}

#second_div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: self-start;
    vertical-align: center;
}

#second img{
    box-shadow: rgba(0, 0, 0, 0.25) 0 25px 50px -12px;
}

#second_h1{
    text-transform: uppercase;
    background-image: linear-gradient(
            -225deg,
            #1d9cc9 0%,
            #a1a89a 20%,
            #e7bd81 30%,
            #d2861f 50%,
            #e7bd81 70%,
            #a1a89a 80%,
            #1d9cc9 100%
    );
    background-clip: border-box;
    background-size: 200% auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animation_1 3s linear infinite;
    display: inline-block;
}

@keyframes animation_1 {
    to {
        background-position: 200% center;
    }
}

.text_2{
    font-size: 35px;
    color: #24252A;
    min-width: 400px;
    max-width: 800px;
    padding-right: 80px;
    transition: 0.4s linear;
}

#parent{
    height: 300px;
    width: 300px;
}

#child{
    height: 150px;
    min-height: 150px;
    width: 150px;
    min-width: 150px;
    border-radius: 75px;
    transition: 2s linear;
    animation: animation_2 4s ease-in forwards infinite;
    margin: 0;
    position: relative;
}

#parent:hover #child{
    animation-play-state: paused;
}

@keyframes animation_2 {
    0%{
        transform: translateX(0);
        background-color: #b78b7e;
    }
    25%{
        transform: translateY(100%);
        background-color: #ff1361;
    }
    50%{
        transform: translateX(100%) translateY(100%);
        background-color: #105e7a;
    }
    75%{
        transform: translateX(100%);
        background-color: #152057;
    }
    100%{
        transform: translateX(0);
        background-color: #b78b7e;
    }
}
